@model MusicViewModel
@{
    ViewData["Title"] = "乐谱信息修改";
}
<script src="~/js/MusicUpload.js"></script>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
<script>

</script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
<h1>乐谱信息修改</h1>
<hr />
@Html.AntiForgeryToken()
<div class="alert alert-info">
    <span class="h2">曲名：@Model.MusicTitle</span>
    <span style="float:right;height:100%;padding:10px 0;">编号: @Model.Id</span>
</div>

<table class="table table-bordered table-striped table-hover">


    <tbody>
        <tr>
            <th>上传日期：</th>
            <td colspan=2>  @Model.Datetime</td>
        </tr>
        <tr>
            <th>下载量：</th>
            <td colspan=2>@Model.Download_num</td>
        </tr>
        <tr>
            <th>浏览量：</th>
            <td colspan=2>@Model.View_num</td>
        </tr>


    </tbody>
</table>
<div class="alert alert-warning">
    <p>如果提交修改会使<b>浏览量和下载量清零！</b></p>
</div>
<div id="info_div">

</div>

<div class="row">
    <div class="col-3 offset-2 col-md-3 offset-md-2">
        <span class="label">
            重新上传工程文件，如果不需要修改则留空：
        </span>
    </div>
    <div class="col-4 offset-1 col-md-5 offset-md-1">
        <input class="btn btn-info" style="width:100%;" id="File" data-val-required="请选择一个文件" type="file" name="File" accept=".genmujson" />
    </div>
</div>

<div class="row mt-4">
    <div class="col-3 offset-2 col-md-3 offset-md-2">
        <span class="label">
            简介：
        </span>
    </div>
    <div class="col-4 offset-1 col-md-5 offset-md-1">
        <textarea style="height:200px;width:100%" class="text-body" type="text" id="abs" placeholder="这里可以填写小于500字的简介">@Model.Abstract_content</textarea>
    </div>
</div>



<div class="row" style="top:20px;">
    <div class="col-3 offset-6">
        <button class="btn btn-info" style="width:100%" type="button" onclick="update_btn_click(@Model.Id);">提交更新</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>